.singuptext{
    color: black !important;
    font-weight: bold !important;
    font-size: 24px !important;
}
.singupsubtext {
    color: gray !important;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}

.hr {
    color: gray !important;
}

.fa-trash-o {
    margin-top: 44px !important;
    font-size: 22px !important;
    color: red !important;
    font-weight: 200 !important;
    cursor: pointer !important;
}


.error {
    color: red !important;
    margin-top: 15px !important;
}