<div class="container" style="margin-top: 45px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    
        <div class="col-sm-12 col-md-6 col-lg-6" *ngIf="!registrationSuccess">
            <form [formGroup]="formGroup" 
                ngSubmit="isIndividual ? Submit('individual') : Submit('company')">
                <div class="card" style="padding: 22px; margin-top: 86px;">
                    <div *ngIf="backendSignupError.length">
                        <div *ngFor="let alert of backendSignupError">
                            <ngb-alert type="danger" [dismissible]="false">{{ alert }}</ngb-alert>
                        </div>
                        <hr class="mb-4 mt-4" />
                    </div>
                    <h1 class="mb-4" class="singuptext">Sign Up</h1>
                    <h3 class="singupsubtext">It's Quick and easy.</h3>
                    <hr class="hr mb-4" /> 
                    <div class="mb-4">
                        <label>Who are you ?</label>
                        <select formControlName="type" required class="form-control form-control-lg" (click)="changeType()" 
                            placeholder="--select --">
                            <option value="individual">
                                <small>Student : register for Enrolling My Self.</small>
                            </option>
                            <option value="company">
                                <small>Company : register for Enrolling other Student only. </small>
                            </option>
                        </select>
                    </div>

                    <div *ngIf="isIndividual" class="mb-4">
                        <div formGroupName="individual" class="mb-4">
                            <label>First Name</label>
                            <input required class="form-control form-control-lg" formControlName="firstname" />
                            <p *ngIf="formSubmitted && getControls('individual.firstname').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
    
                        </div>
                        <div formGroupName="individual" class="mb-4">
                            <label>Last Name</label>
        
                            <input required class="form-control form-control-lg" formControlName="lastname" />
                            <p *ngIf="formSubmitted && getControls('individual.lastname').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <!-- <div formGroupName="individual" class="mb-4">
                            <label>User Name</label>
        
                            <input required class="form-control form-control-lg" formControlName="username" />
                            <p *ngIf="formSubmitted && getControls('individual.username').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> -->
                        <div formGroupName="individual" class="mb-4">
                            <label>Email address</label>
        
                            <input required type="email" class="form-control form-control-lg" formControlName="email" />
                            <p *ngIf="formSubmitted && getControls('individual.email').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.email').hasError('email')" class="error">
                                <small> * invalid email</small>
                            </p>
                        </div>
                        <div formGroupName="individual" class="mb-4">
                            <label>Mobile Phone number</label>
                            <input required class="form-control form-control-lg" formControlName="phonenumber" />
                            <p *ngIf="formSubmitted && getControls('individual.phonenumber').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.phonenumber').hasError('minlength')" class="error">
                                <small> * Must atleast 10 characters long </small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.phonenumber').hasError('maxlength')" class="error">
                                <small> * Can't exceed 10 characters</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.phonenumber').hasError('validMobileNumberFormat')" class="error">
                                <small> * Invalid. mobile number must begin with 09 or 07 then **-**-**-**</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.phonenumber').hasError('MobileNumberMustBeNumber')" class="error">
                                <small> * mobile number must be a number</small>
                            </p>
                        </div>
                        <div formGroupName="individual" class="mb-4">
                            <label>Password</label>
    
                            <input required type="password" class="form-control form-control-lg" formControlName="password" />
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('minlength')" class="error">
                                <small> * Must atleast 8 characters long</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('maxlength')" class="error">
                                <small> * Can't exceed 8 characters</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('requiresDigit')" class="error">
                                <small> * Must contain at least 1 digit</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('requiresUppercase')" class="error">
                                <small> * Must contain at least 1 uppercase character</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('requiresLowercase')" class="error">
                                <small> * Must contain at least 1 lowercase character</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('individual.password').hasError('requiresSpecialChars')" class="error">
                                <small> * Must contain at least 1 special character</small>
                            </p>
                        </div>
                    </div>
                    <div *ngIf="!isIndividual" class="mb-4">
                        <div formGroupName="company" class="mb-4">
                            <label>First Name</label>
                            <input required class="form-control form-control-lg" formControlName="firstname" />
                            <p *ngIf="formSubmitted && getControls('company.firstname').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Last Name</label>
        
                            <input required class="form-control form-control-lg" formControlName="lastname" />
                            <p *ngIf="formSubmitted && getControls('company.lastname').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Organization Name</label>
                            <input required class="form-control form-control-lg" formControlName="organizationName" />
                            <p *ngIf="formSubmitted && getControls('company.organizationName').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Representative FullName</label>
                            <input required class="form-control form-control-lg" formControlName="representativeFullName" 
                                [value]="getControls('company.firstname').value  + ' ' + getControls('company.lastname').value"
                            readonly />
                            <p *ngIf="formSubmitted && getControls('company.representativeFullName').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Representative Role</label>
                            <input required class="form-control form-control-lg" formControlName="representativeRole" />
                            <p *ngIf="formSubmitted && getControls('company.representativeRole').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Contact Email address</label>
                            <input required class="form-control form-control-lg" formControlName="email" />
                            <p *ngIf="formSubmitted && getControls('company.email').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.email').hasError('email')" class="error">
                                <small> * invalid email</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Contact Mobile Phone number</label>
                            <input required class="form-control form-control-lg" formControlName="phonenumber" />
                            <p *ngIf="formSubmitted && getControls('company.phonenumber').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.phonenumber').hasError('minlength')" class="error">
                                <small> * Must atleast 10 digit </small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.phonenumber').hasError('maxlength')" class="error">
                                <small> * Can't exceed than 10 character</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.phonenumber').hasError('validMobileNumberFormat')" class="error">
                                <small> * Invalid. Mobile number must begin with 09 or 07 then **-**-**-**</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.phonenumber').hasError('MobileNumberMustBeNumber')" class="error">
                                <small> * mobile number must be a number</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Sector</label>
                            <input required class="form-control form-control-lg" formControlName="sector" />
                            <p *ngIf="formSubmitted && getControls('company.sector').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Number of Employee</label>
                            <select required class="form-control form-control-lg" placeholder="--select --"
                                formControlName="NoOfEmployee">
                                <option value="1-15">1 - 15</option>
                                <option value="16-50">16 - 50</option>
                                <option value="50-200">50 - 200</option>
                                <option value=">200"> +200</option>
                            </select>
                            <p *ngIf="formSubmitted && getControls('company.NoOfEmployee').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <mat-checkbox class="example-margin"
                            color="primary"
                            (change)="isMemberCheck($event.checked)">
                            Are you a Member ?
                            </mat-checkbox>
                        </div>
                        <div formGroupName="company" class="mb-4">
                            <label>Membership type</label>
                            <input required class="form-control form-control-lg" formControlName="membershipType" />
                        </div>
                        <div formGroupName="company" class="mb-4 row">
                            <div class="col-sm-12" [ngClass]="getControls('company.memberId').value ? 'col-md-11 col-lg-11' : 'col-md-12 col-lg-12'">
                                <label>If So, please attache the membership id here.</label>
                                <input type="file" class="form-control form-control-lg" (change)="onFileUpload($event)" 
                                accept="image/*" formControlName="memberId" />
                            </div>
                            <div class="col-sm-12 col-md-1 col-lg-1" *ngIf="getControls('company.memberId').value">
                                <label></label>
                                <span (click)="removeMemberId()" title="remove member id attachment">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
        
                        <hr class="mb-4 mt-4"/>
                        <!-- <div formGroupName="company" class="mb-4">
                            <label>Username</label>
                            <input required class="form-control form-control-lg" formControlName="username" />
                            <p *ngIf="formSubmitted && getControls('company.username').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> -->
                        <div formGroupName="company" class="mb-4">
                            <label>Password</label>
                            <input type="password" required class="form-control form-control-lg" formControlName="password" />
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('minlength')" class="error">
                                <small> * Must atleast 8 digit</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('maxlength')" class="error">
                                <small> * Can't exceed 8 characters</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('requiresDigit')" class="error">
                                <small> * Must contain at least 1 digit</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('requiresUppercase')" class="error">
                                <small> * Must contain at least 1 uppercase character</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('requiresLowercase')" class="error">
                                <small> * Must contain at least 1 lowercase character</small>
                            </p>
                            <p *ngIf="formSubmitted && getControls('company.password').hasError('requiresSpecialChars')" class="error">
                                <small> * Must contain at least 1 special character</small>
                            </p>
                        </div>
                    </div>
                    <Button type="submit" class="btn btn-primary btn-lg btn-block"  *ngIf="!disable"
                        (click)="isIndividual ? Submit('individual') : Submit('company')"
                    >
                    Create my new account
                </Button>
                <!-- [disabled]="(isIndividual ? getControls('individual').invalid : getControls('company').invalid)" -->

                    <Button class="btn btn-primary btn-lg btn-block disabled"  *ngIf="disable">
                        Create my new account
                    </Button>
                </div>
            </form> 
        </div>
    
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 67px !important;" *ngIf="registrationSuccess">
            <ngb-alert type="success" [dismissible]="false">
                <h3>
                   <b>Congratulation !</b>
                </h3>
                <p>
                    An email should have to been sent to your address at 
                    <b>{{ isIndividual ? getControls('individual.email').value : getControls('company.email').value }}</b>
                </p>
                <p>
                    It contains easy instruction to complete your registration.
                </p>
                <p>
                    If you continue to have difficulty. please contact system administrator.
                </p>
                <p>
                    <a class="btn btn-light" [routerLink]="['/courses']">
                        Continue
                    </a>
                </p>
            </ngb-alert>
    
        </div>
    
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>