.gray{
    color: gray !important;
    font-weight: lighter;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
    float: right !important;
}

ngb-alert{
    font-size: smaller !important;
    font-weight: lighter !important;
}

.card {
    padding: 30px !important;
}
.headerCard{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    height: 204px !important;
    margin-bottom: -161px !important;
    border-bottom: 1px solid #e8eaed !important;
}

.headerTitle {
    color: #3c4043 !important;
    font: normal 24px Google Sans,Arial,sans-serif !important;
    margin: 0 !important;
    font-size: 2rem !important;
    line-height: 2rem !important;
    /* font-size: 24px !important; */
}

.headerSubtitle {
    color: #9aa0a6 !important;
    font-size: 20px !important;
    line-height: 3rem !important;
    font-weight: lighter !important;
    margin: 0 !important;
}

.profileCard{
    /* margin-top: -150px; */
    background-color: #fff !important;
    border: 1px solid #e8eaed !important;
    border-top: 0px solid #e8eaed !important;
    margin-bottom: 10px !important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%) !important;
}

.cardTitle {
    color: #3c4043 !important;
    font: 400 1.8rem/2.4rem Google Sans,Arial,sans-serif !important;
    margin-bottom: 0.5rem !important;
    font-size: 20px !important;
}

@media only screen and (max-width: 760px) {
    .headerCard {
        margin-bottom: -97px !important;
    }

    .headerTitle {
        line-height: 3rem !important;
    }
    
    .headerSubtitle {
        line-height: 2rem !important;
    }
  }