<div class="container-fluid" style="margin-top: 66px !important;">
    <!-- <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card" style="padding: 39px !important;">
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                  <div>
                      <p style="color: #80868b;">
                          {{ detail?.fullname }}: MODULE {{ detail?.index+1 }}/{{detail?.totalModules}}
                      </p>
                      <h1 style="color: #3c4043; margin-top: 8px;">
                          {{ detail?.name }}
                      </h1>
                  </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-share-alt mr-4" aria-hidden="true"></i>
                      SHARE
                    </span>
                  </button>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-plus mr-4" aria-hidden="true"></i>
                      REMOVE FROM MY LEARNING PLAN
                    </span>
                  </button>
                </div>
              </div>  
            </div>
        </div>
    </div> -->


    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div id="uppercard" class="card">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-8">
                <div>
                    <p style="color: #80868b;">
                      <span id="upperText">
                        {{ detail?.fullname }}: MODULE {{ detail?.index+1 }}/{{detail?.totalModules}}
                      </span>
                      <span style="float: right !important; margin-top: -10px !important; font-size: 20px !important;" class="smaller">
                        <div ngbDropdown class="d-inline-block">
                          <span type="button"  id="dropdownBasic1" ngbDropdownToggle>
                              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </span>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <span ngbDropdownItem>remove from my learning plan</span>
                            <div class="dropdown-divider"></div>
                            <span ngbDropdownItem>Share</span>
                          </div>
                        </div>
                      </span>
                    </p>
                    <h1 style="color: #3c4043; margin-top: 8px;">
                        {{ detail?.name }}
                    </h1>
                </div>
              </div>
              <div class="col-sm-12 col-md-1 col-lg-1 wider">
                <button type="button" class="btn btn-light">
                  <span style="color: #0d6efd; font-size: 21px !important;">
                    <i class="fa fa-share-alt mr-4" aria-hidden="true"></i>
                    SHARE
                  </span>
                </button>
              </div>
              <div class="col-sm-12 col-md-3 col-lg-3 wider">
                <button type="button" class="btn btn-light">
                  <span style="color: #0d6efd; font-size: 21px !important;">
                    <i class="fa fa-plus mr-4" aria-hidden="true"></i>
                    REMOVE FROM MY LEARNING PLAN
                  </span>
                </button>
              </div>
            </div>  
          </div>
      </div>
  </div>


    <div class="row" style="margin-top: 15px !important;">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="smaller">
          <ngb-panel title="In this module...">
            <ng-template ngbPanelContent>
              <div class="card">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-dark" >
                    Module Overview
                  </li>  
                  <li class="list-group-item" style="margin-top: 18px;">
                    <P>
                      <span>Lessons</span>
                      <span style="float: right; margin-right: 10px !important;">
                        {{ currentItemIndex}}/{{detail?.modules.length}}
                      </span>
                    </P>
                  </li>
                 </ul>
                 <div  class="card" style="height: 350px !important; overflow-y: scroll !important;">
                  <ul class="list-group">
                  <li class="list-group-item item-module" *ngFor="let det of detail.modules; let i = index">
                    <p (click)="openUrl(i,det)">
                     <span class="mr-4">
                      {{ i + 1 }}.
                     </span> 
                     <span>
                       {{ det.name }} (<small>{{ det.modplural }}</small>)
                     </span>
                    </p>
                  </li>                
                 </ul>
                </div>
                <li class="list-group-item" style="margin-top: 18px;">
                  <hr class="mb-4 mt-4" />
                  <P>
                    <a type="button" class="btn btn-light" routerLink="/quizes" [state]="detail">
                      <i class="fa fa-step-forward mr-4" style="color: #0d6efd" aria-hidden="true"></i>
                      Skip to quiz
                    </a>
                  </P>
                </li>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

          <div class="wider">
            <div class="card" style="padding: 10px !important;">
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark" >
                  Module Overview
                </li>  
                <li class="list-group-item" style="margin-top: 18px;">
                  <P>
                    <span>Lessons</span>
                    <span style="float: right; margin-right: 10px !important;">
                      {{ currentItemIndex}}/{{detail?.modules.length}}
                    </span>
                  </P>
                </li>
               </ul>
               <div  class="card" style="height: 350px !important; overflow-y: scroll !important;">
                <ul class="list-group">
                <li class="list-group-item item-module" *ngFor="let det of detail.modules; let i = index">
                  <p (click)="openUrl(i,det)">
                   <span class="mr-4">
                    {{ i + 1 }}.
                   </span> 
                   <span>
                     {{ det.name }} (<small>{{ det.modplural }}</small>)
                   </span>
                  </p>
                </li>                
               </ul>
              </div>
              <li class="list-group-item" style="margin-top: 18px;">
                <hr class="mb-4 mt-4" />
                <P>
                  <a type="button" class="btn btn-light" routerLink="/quizes" [state]="detail">
                    <i class="fa fa-step-forward mr-4" style="color: #0d6efd" aria-hidden="true"></i>
                    Skip to quiz
                  </a>
                </P>
              </li>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="card contentPart">
            <div *ngIf="!currentItem">
              <p class="message">
                Select topics to open
              </p>
            </div>
            <div *ngIf="currentItem && isCanOpen">
              <p *ngIf="currentItem?.modname == 'page'" [innerHTML]="currentItem?.htmlContent | htmlSanitaizer"></p>
              <p *ngIf="currentItem?.modname == 'url'">
                <a [href]="currentItem?.contents[0].fileurl" target="_blank">{{ currentItem?.name}}</a>
              </p>
              <p  *ngIf="currentItem?.modname == 'resource'">
                 <iframe 
                   src="https://images.ctfassets.net/lzny33ho1g45/T5qqQQVznbZaNyxmHybDT/b76e0ff25a495e00647fa9fa6193a3c2/best-url-shorteners-00-hero.png?w=1520&fm=jpg&q=30&fit=thumb&h=760" 
                   [title]="currentItem?.name">
                  </iframe>
              </p>
            </div>
            <div *ngIf="currentItem && !isCanOpen">
              <p class="message">
                unable to preview the content.
              </p>
            </div>
          
           
          </div>
        </div>
    </div>    

</div>