<div class="container-fluid" style="margin-top: 66px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="uppercard" class="card">
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                  <div>
                      <p style="color: #80868b;">
                        <span id="upperText">
                          {{ state?.fullname }}: MODULE {{ state?.index+1 }}/{{state?.totalModules}}
                        </span>
                        <span style="float: right !important; margin-top: -10px !important; font-size: 20px !important;" class="smaller">
                          <div ngbDropdown class="d-inline-block">
                            <span type="button"  id="dropdownBasic1" ngbDropdownToggle>
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </span>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <span ngbDropdownItem>remove from my learning plan</span>
                              <div class="dropdown-divider"></div>
                              <span ngbDropdownItem>Share</span>
                            </div>
                          </div>
                        </span>
                      </p>
                      <h1 class="upperSubText" style="color: #3c4043; margin-top: 8px;">
                          {{ state?.name }}
                      </h1>
                  </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 wider">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-share-alt mr-4" aria-hidden="true"></i>
                      SHARE
                    </span>
                  </button>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 wider">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-plus mr-4" aria-hidden="true"></i>
                      REMOVE FROM MY LEARNING PLAN
                    </span>
                  </button>
                </div>
              </div>  
            </div>
        </div>
    </div>
</div> 
<div class="container-fluid card lowercard">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <h1 *ngIf="!quizzes.length" class="loadingText">
                <span *ngIf="isLoading">
                    Loading quizzes ...
                </span>
                <span *ngIf="!isLoading">
                    -- no quizzes available --
                </span>
            </h1>
            <mat-accordion *ngFor="let quiz of quizzes; let i = index" multi>
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ quiz?.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ quiz?.intro }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <hr />
                  <p>Attempts</p>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Unique Id</th>
                            <th scope="col">Start time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Layout</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="quiz.attempts.length">
                        <tr *ngFor="let att of quiz.attempts; let j = index">
                            <th scope="row">{{ j + 1 }}</th>
                            <td>{{ att.uniqueid }}</td>
                            <td>{{ att.timestart|date }}</td>
                            <td>{{ att.timefinish|date }}</td>
                            <td>{{ att.state }}</td>
                            <td>{{ att.layout }}</td>
                            <td>
                                <a (click)="navigate(att.id)">
                                <mat-icon>visibility</mat-icon>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tbody>
                            <tr colspan="7" *ngIf="!quiz.attempts.length">
                                <td align="center">
                                    {{ isLoading ? 'Loading ...' : '-- no attempts on this quiz --' }}
                                </td>
                            </tr>
                        </tbody>    
                    </table>  
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
    </div>    
</div>