.gray{
    color: gray !important;
    font-weight: lighter;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
    font-size: 17px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}