<div class="container" style="margin-top: 45px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6" *ngIf="!showResponseMessage">
            <div class="card" style="padding: 30px; margin-top: 86px;">
                <h1 class="mb-4" class="gray">Reset Password</h1>
                <hr class="mb-4" />
                <p class="gray mb-4">
                    To reset your password, submit your username or your email address below. 
                    If we can find you in the database, an email will be sent to your email address, with instructions how to get access again.
                </p>
                <form [formGroup]="formGroup">
                    <p style="font-size: 17px;">
                        Search by username
                    </p>
                    <div class="mb-4">
                        <label>User name</label>
                        <input class="form-control form-control-lg"  required formControlName="username">
                    </div>
    
                    <button *ngIf="!showLoadingUsername" type="submit" class="btn btn-primary btn-lg btn-block"
                    (click)="Submit(true)" 
                    [disabled]="getControls('username').invalid">
                       Reset password
                   </button>
                   <div class="btn btn-primary btn-lg btn-block disabled" *ngIf="showLoadingUsername">
                       Reset password <i class="fa fa-spinner ml-4" aria-hidden="true"></i>
                   </div>
    
    
                    <p style="font-size: 17px;" class="mt-4">
                        Search by email address
                    </p>
                    <div class="mb-4">
                        <label>Email address</label>
                        <input class="form-control form-control-lg" required
                        type="email" required formControlName="email">
                    </div>
    
                    <button *ngIf="!showLoadingEmail" type="submit" class="btn btn-primary btn-lg btn-block"
                     (click)="Submit(false)" 
                     [disabled]="getControls('email').invalid">
                         Reset password
                    </button>
                    <div class="btn btn-primary btn-lg btn-block disabled" *ngIf="showLoadingEmail">
                         Reset password <i class="fa fa-spinner ml-4" aria-hidden="true"></i>
                    </div>
    
                    <hr class="mb-4" style="margin-top: 31px !important;"/>
    
                    <div>
                        <p style="display: inline-flex !important;">
                            <span style="margin-right: 10px;">
                                Cancel and return to  
                            </span>
                            <span style="margin-right: 10px;">
                                <a class="nav-link" [routerLink]="['/account/login']" aria-current="page" 
                                style="color: #0d6efd;">
                                    Sign in here.
                                </a>
                            </span>
                            <span style="margin-right: 10px;">
                                Or Need an account ? 
                            </span>
                            <span>
                                <a class="nav-link" [routerLink]="['/account/signup']" aria-current="page" 
                                style="color: #0d6efd;">
                                    Sign up here.
                                </a>
                            </span>
                        </p>
                    </div>
    
                    <!-- <p class="mt-4" *ngIf="backendError">
                        {{ backendError | titlecase }}
                    </p> -->
                </form>
            </div>
        </div>
        <div  class="col-sm-12 col-md-12 col-lg-12" *ngIf="showResponseMessage" style="margin-top: 83px;">
            <ngb-alert type="success" [dismissible]="false">
            <p class="gray" [innerHTML]="backendError | htmlSanitaizer">
                <!-- {{ backendError | titlecase }} -->
            </p>
            <p>
                <a class="btn btn-light" [routerLink]="['/courses']">
                    Continue
                </a>
            </p>
            </ngb-alert>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>
