<div class="container">
    <div class="row" style="margin-top: 102px !important;">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="heading">
                        WHO WE ARE
                    </p>
                    <p class="body">
                        We're a sales performance agency. We've been helping businesses sell smarter and faster since 2012. We're proud HubSpot Diamondand RollWorks Partners, and we pride ourselves on using the best tools to help our clients succeed. Our team is made up of smart and talented people that are passionate about creating marketing and sales results!
                    </p>
                    <p class="heading">
                        WE'RE DIFFERENT THAN THE REST
                    </p>
                    <p class="body">
                        We're rooted in sales. Our parent company, The Center for Sales Strategy (CSS), has been helping sales organizations turn talent into performance for almost 40 years. Unlike other marketing agencies, we're obsessed with ROI and we have the experience to deliver inbound sales results because we've done it ourselves...
                        We've been where you are. More than a decade ago, when we needed to grow and diversify how we generated new business at CSS, we turned to inbound marketing and found huge success after launching our sales strategy blog. Once we mastered the art of using thought leadership content for lead generation, we launched LeadG2 so we could help businesses do the exact same thing.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
    </div>
</div>