/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/ngx-toastr/toastr.css';

body {
    background-color: #f7f7f7 !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}

.card {
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
    border: 0px none #FFFFFF !important;
}
Button:hover{
    color: #FFFFFF !important;
}