<div class="container" style="margin-top: 45px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <p *ngIf="passwordChangeSuccess"  class="mt-4" style="margin-top: 74px !important;">
                <ngb-alert type="success">Password reset successfully.</ngb-alert>
            </p>
            <div *ngIf="!passwordChangeSuccess" class="mt-4"  style="margin-top: 74px !important;">
                <p *ngFor="let errors of passwordChangeErrors">
                    <ngb-alert type="warning">{{ errors.message }}</ngb-alert>
                </p>
            </div>
            <div class="card" style="padding: 30px; margin-top: 25px; border-radius: 0px;">
                <h1 class="mb-4" class="gray">Set New Password </h1>
                <hr style="margin-bottom: 31px !important;" />
                <form [formGroup]="formGroup">
                    <div class="mb-4">
                        <label>New password</label>
                        <input class="form-control form-control-lg" placeholder="******"
                        type="password" required formControlName="password">
                    </div>
                    <div class="mb-4">
                        <label>New password again</label>
                        <input class="form-control form-control-lg" placeholder="******"
                        type="password" required formControlName="repassword">
                    </div>
                    <div class="row" style="margin-bottom: 20px !important;  margin-top: 60px !important;">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <button *ngIf="!showLoading" type="submit" class="btn btn-primary btn-lg btn-block"
                             (click)="Submit()" [disabled]="formGroup.invalid">
                                Reset Password
                            </button>
                            <Button class="btn btn-primary btn-lg btn-block disabled" *ngIf="showLoading">
                                Reset Password <i class="fa fa-spinner ml-4" aria-hidden="true"></i>
                            </Button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>