<div class="container-fluid" style="margin-top: 66px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div id="uppercard" class="card">
              <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                  <div>
                      <p style="color: #80868b;">
                        <span id="upperText">
                          {{ state?.fullname }}: MODULE {{ state?.index+1 }}/{{state?.totalModules}}
                        </span>
                        <span style="float: right !important; margin-top: -10px !important; font-size: 20px !important;" class="smaller">
                          <div ngbDropdown class="d-inline-block">
                            <span type="button"  id="dropdownBasic1" ngbDropdownToggle>
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </span>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <span ngbDropdownItem>remove from my learning plan</span>
                              <div class="dropdown-divider"></div>
                              <span ngbDropdownItem>Share</span>
                            </div>
                          </div>
                        </span>
                      </p>
                      <h1 style="color: #3c4043; margin-top: 8px;">
                          {{ state?.name }}
                      </h1>
                  </div>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-1 wider">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-share-alt mr-4" aria-hidden="true"></i>
                      SHARE
                    </span>
                  </button>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 wider">
                  <button type="button" class="btn btn-light">
                    <span style="color: #0d6efd; font-size: 21px !important;">
                      <i class="fa fa-plus mr-4" aria-hidden="true"></i>
                      REMOVE FROM MY LEARNING PLAN
                    </span>
                  </button>
                </div>
              </div>  
            </div>
        </div>
    </div>
</div>   


<!-- questions -->
<div class="container" style="margin-top: 20px !important;">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="question-container">
                <div  class="card question-body" *ngFor="let qui of quizes; let i = index">
                    <h2 class="question-number">Question - {{i+1}}</h2>
                    <div class="question-text" [innerHTML]="qui?.html.questiontext | htmlSanitaizer"></div>
                      <ul class="list-group list-group list-group-flush">
                        <li class="list-group-item" [ngClass]="qui?.selectedAnswer == ans?.id ? 'selected-list-group-item' : 'not-list-group-item'"
                          *ngFor="let ans of qui?.html.answers; let j = index" (click)="selectAnswer(i,ans?.id)">
                           
                          <div class="row">
                              <div class="col-sm-1 col-md-1 col-lg-1">
                                <span class="mr-4" [ngClass]="qui?.selectedAnswer == ans?.id ? 'SelectedIndex' : 'notSelectedIndex'">
                                  {{ j+ 1 }}
                                </span>
                              </div>
                              <div class="col-sm-11 col-md-11 col-lg-11" style="padding-top: 15px !important;">
                                <span [innerHTML]="ans?.answer | htmlSanitaizer"></span>
                              </div>
                          </div>

                        </li>
                      </ul>  
                </div>      
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
    </div>    
</div>    