/* .list-group-item {
    border: none;
    padding: 18px;
    color: gray;
    font-size: 18px;
    margin-left: 10px;
    text-transform: capitalize;
    border-radius: 0px !important;
}

.item-module:hover{
    color: #3c4043 !important;
    font-weight: bold !important;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(156, 153, 153); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }

.question-container {
    height: auto !important; 
    /* overflow-y: scroll !important;  */
    margin-bottom: 15px !important;
}

.question-body {
    padding: 20px !important;
    margin-bottom: 20px !important;
    border-bottom: 2px solid #e8eaed !important;
    border-right: 1px solid #e8eaed !important;
    border-left: 1px solid #e8eaed !important;
}

.list-group {
    border-radius: 0px !important;
}

.question-number {
    color: gray !important;
    font-weight: lighter !important;
}

.question-text {
    color: #424242;
    /* font: 2rem/2.8rem Google Sans,Arial,sans-serif; */
    font-size: 20px !important;
    letter-spacing: 0;
    line-height: 2.8rem;
    max-width: 100%;
}

.mat-radio-label-content {
    margin-top: 10px !important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 8px 0 !important;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  } 

  .info {
    display: none !important;
    background-color: aqua !important;
  }

  .notSelectedIndex{
    background: #fff;
    border: 0.3rem solid #e0e0e0;
    color: #757575;
    font-family: Roboto,Arial,Helvetica,serif;
    font-size: 19px !important;
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex: 0 0 4rem;
    height: 3rem;
    justify-content: center;
    line-height: 4rem;
    -webkit-margin-end: 1.5rem;
    margin-inline-end: 1.5rem;
    text-align: center;
    width: 3rem;
  }

  .SelectedIndex {
    background: #4054b2 !important;
    color: #fff !important;
    line-height: 4rem;
    border: 0.3rem solid #e0e0e0;
    font-family: Roboto,Arial,Helvetica,serif;
    font-size: 19px !important;
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex: 0 0 4rem;
    height: 3rem;
    justify-content: center;
    -webkit-margin-end: 1.5rem;
    margin-inline-end: 1.5rem;
    text-align: center;
    width: 3rem;
  }

  .not-list-group-item {
    padding-bottom: 10px !important;
    background-color: #fff;
    color: #616161;
    cursor: pointer;
    font-size: 15px !important;
    padding-top: 10px !important;

  }

  .selected-list-group-item {
    border-bottom: 0.1rem solid #e0e0e0;
    border-top: 0.1rem solid #e0e0e0;
    /* background: #e0e0e0y !important; */
    background-color: #e9e9e9;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

  }

  .smaller {
    display: none !important;
  }
  .wider {
    display: block !important;
  }

  .card {
    padding-top: 39px !important;
    padding-bottom: 39px !important;

  }

  @media only screen and (max-width: 760px) {
    .wider {
        display: none !important;
    }

    .smaller {
        display: block !important;
    }

    .question-body {
      padding: 10px !important;
    }

    .question-text{
      font-size: 18px !important;
      line-height: 1.8rem !important;
    }

    h1{
      font: 300 1.5rem/2.1rem Google Sans,Arial,sans-serif !important;
    }

    .card{
      padding: 15px !important;
    }

    #upperText {
      color: #80868b;
      font: 500 1.2rem/1.6rem Google Sans,Arial,sans-serif;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      width: 80%;
      font-size: 11px;
      line-height: 5px;
    }

    .dropdown-item {
      font-size: 15px !important;
    }

    #dropdownBasic1 {
      border-radius: 0px !important;
    }

    .dropdown-toggle::after {
      /* border-top: 0.3em solid transparent;
      border-left: 0.3em solid;
      border-bottom: 0.3em solid transparent;
      border-right: 0;
      vertical-align: unset; */
      display: none !important;
    }

  }