<div class="container" style="margin-top: 45px !important;">
    <div class="row top">
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formGroup">
                        <div class="mb-4">
                            <label>Course</label>
                            <select class="form-control form-control-lg" formControlName="course_id">
                                <option *ngFor="let course of service.loadedCourses; let i as index" [value]="course.id" 
                                    (click)="selectCourse(course)">
                                    {{ course.name | titlecase }}
                                </option>
                            </select>
                            <p *ngIf="formSubmitted && getControls('course_id').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <hr class="mb-4" />
                        <h1>Add trainee's</h1>
                        <p>search the trainee by their email address ...</p>
                        <div class="mb-4">
                            <input type="email" class="form-control form-control-lg" formControlName="email"
                            (keydown)="search($event)" />
                            <p *ngIf="getControls('email').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                            <p *ngIf="getControls('email').hasError('email')" class="error">
                                <small> * invalid email</small>
                            </p>
                        </div>
                        <p *ngIf="isSearching" style="text-align: center !important;">
                            searching ...
                        </p>
                        <div class="mb-4" *ngIf="studentDetail">
                            <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-1 col-sm-12 col-lg-1">
                                        <img [src]="studentDetail?.avatar_url" style="width: 42px; height: 42px;border-radius: 50%;margin-right: 5px;" />
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-lg-5 nameLable">
                                        {{ studentDetail?.name | titlecase }}
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-lg-4 nameLable">
                                        {{ studentDetail?.email }}
                                    </div>
                                    <div class="col-md-2 col-sm-12 col-lg-2">
                                        <Button class="btn btn-success btn-block" style="width: 100%;" (click)="addStudent(studentDetail)">
                                            Add
                                        </Button>
                                    </div>
                                </div>  
                            </li>
                            </ul>
                        </div>    
                        <hr />
                        <div class="mb-4">
                            <ul class="list-group" *ngIf="students.length">
                                <li class="list-group-item" *ngFor="let student of students; let i as index">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-lg-2" style="text-align: center !important;">
                                            <img [src]="student?.avatar_url" style="width: 42px; height: 42px;border-radius: 50%;margin-right: 5px;" />
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-lg-4 nameLable">
                                            {{ student?.name | titlecase }}
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-lg-4 nameLable">
                                            {{ student?.email }}
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-lg-2" style="text-align: center !important">
                                            <mat-icon class="removeButton"  (click)="removeStudent(i);">delete_forever</mat-icon>
                                        </div>
                                    </div> 
                                    
                                </li>
                              </ul>
                              <p *ngIf="!students.length" style="
                              text-align: center;
                          ">-- no student added --</p>
                              <p *ngIf="formSubmitted && !students.length" class="error">
                                <small> * required</small>
                            </p>
                        </div>
                        <!-- <div class="mb-4">
                            <label>Date</label>
                            <input type="date" class="form-control form-control-lg" formControlName="date" />
                            <p *ngIf="formSubmitted && getControls('date').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> -->
                        <div class="mb-4">
                            <label>Remarks</label>
                            <textarea rows="3" class="form-control form-control-lg" formControlName="remark"></textarea>
                        </div>
                        <div class="mb-4 row">
                            <div class="col-sm-12" [ngClass]="traineelist.length ? 'col-md-11 col-lg-11' : 'col-md-12 col-lg-12'">
                                <label>please attache the trainee list here.</label>
                                <input type="file" class="form-control form-control-lg" (change)="onFileUpload($event, false)" 
                                formControlName="traineelist"
                                accept="image/*" />
                            </div>
                            <div class="col-sm-12 col-md-1 col-lg-1" *ngIf="traineelist.length">
                                <label></label>
                                <span (click)="removeAttatchment(false)" title="remove attachment">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p *ngIf="formSubmitted && getControls('traineelist').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> 
                        <div class="mb-4 row">
                            <div class="col-sm-12" [ngClass]="bankSlip.length ? 'col-md-11 col-lg-11' : 'col-md-12 col-lg-12'">
                                <label>please attache the bank slip here.</label>
                                <input type="file" class="form-control form-control-lg" (change)="onFileUpload($event,true)" 
                                formControlName="bankSlip"
                                accept="image/*" />
                            </div>
                            <div class="col-sm-12 col-md-1 col-lg-1" *ngIf="bankSlip.length">
                                <label></label>
                                <span (click)="removeAttatchment(true)" title="remove attachment">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </span>
                            </div>
                            <p *ngIf="formSubmitted && getControls('bankSlip').hasError('required')" class="error">
                                <small> * required</small>
                            </p>
                        </div> 
                        <div class="mb-4 row">
                            <Button type="submit" class="btn btn-primary btn-lg btn-block" (click)="Submit()" [disabled]="disable">
                                Submit
                            </Button>
                        </div>   
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2"></div>
    </div>
</div>