.gray{
    color: gray !important;
    font-weight: lighter;
}

label{
    color: gray !important;
    font-weight: lighter; 
    margin-bottom: 10px !important;
    font-size: 17px !important;
}

.mb-4{
    margin-bottom: 27px !important;
}

Button {
    border-radius: 0px !important;
    font-size: 15px !important;
    font-weight: lighter !important;
}

.top {
    margin-top: 102px !important;
}

.nameLable{
    text-align: center !important;
    font-size: 20px !important;
    padding: 8px !important;
    color: #160c0c !important;
}

.mat-icon {
    margin-top: 10px !important;
    cursor: pointer !important;
}

.fa-trash-o {
    margin-top: 44px !important;
    font-size: 22px !important;
    color: red !important;
    font-weight: 200 !important;
    cursor: pointer !important;
}

.error {
    color: red !important;
}